@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-input {
    @apply w-full mt-1 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-primary focus:border-primary;
  }
  .label-form {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
  }
  .input-form {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
  }
  .btn-submit {
    @apply w-full flex justify-center py-2 px-4 border border-transparent font-medium rounded-md text-white bg-primary hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary;
  }
  .btn-primary {
    @apply text-white bg-primary hover:bg-green-400 focus:ring-4 focus:ring-primary font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-green-400 dark:focus:ring-primary;
  }
  .btn-secondary {
    @apply text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600;
  }
  .btn-danger {
    @apply text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5;
  }
  .modal-form {
    @apply fixed w-full h-full top-0 left-0 flex items-center justify-center z-40;
  }
  .modal-form-outside {
    @apply absolute w-full h-full bg-gray-900 opacity-50;
  }
}

#show-scroll::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}
#show-scroll::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
}
#show-scroll::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a0aec0;
}

:root {
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */

  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */
}

.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
  @apply bg-gray-800 text-zinc-50;
}

.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}

/* CSS Loading Football */
.box-football {
  margin: 0 auto;
  width: 40px;
  height: 140px;
  position: relative;
}
.box-football .shadow {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: grey;
  bottom: 0;
  border-radius: 100%;
  transform: scaleX(0.8);
  opacity: 0.6;
  animation: shadowScale 1s linear infinite;
}
.gravity {
  width: 40px;
  height: 40px;
  animation: bounce 1s cubic-bezier(0.68, 0.35, 0.29, 0.54) infinite;
}
.ball {
  width: 40px;
  height: 40px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/activity-5/50/26BD-soccer-ball-128.png");
  background-size: cover;
  animation: roll 0.7s linear infinite;
}

@keyframes roll {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0% {
  }
  50% {
    transform: translateY(100px);
  }
  100% {
  }
}
@keyframes shadowScale {
  0% {
  }
  50% {
    transform: scaleX(1);
    opacity: 0.8;
  }
  100% {
  }
}

/* -------------- End CSS Loading Football ---------------- */
